@import url('https://fonts.googleapis.com/css2?family=Red%20Hat%20Display:wght@500;700;900&display=swap');

:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desatured-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    font-size: 16px;
    font-family: 'Red Hat Display', serif;
    font-weight: 500;
}


body{
    background-color: var(--pale-blue);
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.container{
    flex: 1;
    align-self: center;
    max-width: 350px;
}

section{
    background-color: var(--very-pale-blue);
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    height: 100%;
    flex-grow: 1;
    
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}
p{
    padding-left: 3%;
    padding-right: 3%;
    color: var(--desatured-blue);
    line-height: 18px;
}
.flexbox{
    flex-grow: 1;
    width: 100%;
    position: relative;
    text-align: center;
}
.flexbox > h1{
    font-size: 20px;
    flex-wrap: wrap;
}

.flexbox img{
    max-height: 20vh; 
    width: inherit;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.plans{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 12%;
    padding-right: 12%;
}

.attribution { 
    text-align: center;
    flex: 1;
    max-height: inherit;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
a:hover{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

button{
    position: relative;
    width: 100%;
    padding: 0.5rem;
}

.pay{
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    max-width: 300px;
    border-radius: 0.5rem;
}

.pay:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
}

.cancel{
    flex: 1;
    font-weight: 700;
    border: 0 px;
    text-decoration: none;
    margin: 20px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.cancel:hover{
    color: black;
    cursor: pointer;
}
h1{
    font-weight: 900;
}
h2{
    font-weight: 700;
}
p{
    font-weight: 500;
    text-align: center;
}
