@import url('https://fonts.googleapis.com/css2?family=Red%20Hat%20Display:wght@500;700;900&display=swap');

:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desatured-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    font-size: 16px;
    font-family: 'Red Hat Display', serif;
    font-weight: 500;
}


body{
    background-color: var(--pale-blue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.container{
    flex: 1;
    align-self: center;
    max-width: 350px;
    min-height: 70vh;
    padding: 10vh;
}

section{
    background-color: var(--very-pale-blue);
    display: flex;
    flex-direction: column;
    height: inherit;
    flex-grow: 1;
    
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}
p{
    padding-left: 3%;
    padding-right: 3%;
    color: var(--desatured-blue);
    line-height: 18px;
}
.flexbox{
    flex-grow: 1;
    width: 100%;
    position: relative;
    text-align: center;
}
.flexbox > h1{
    font-size: 20px;
    flex-wrap: wrap;
}

.flexbox img{
    max-height: 30vh; 
    width: inherit;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.plans{
    display: flex;
    flex-direction: row;
    column-gap: 1.5vw;
    background-color: #eef2ff;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 90%;
    margin-bottom: 5px;
}

.attribution { 
    text-align: center;
    flex: none;
    
    height: 5vh;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
a:hover{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

button{
    position: relative;
    width: 100%;
    padding: 0.5rem;
}

.pay{
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    max-width: 300px;
    width: 80%;
    transition: all 0.3s ease 0s;
    border-radius: 0.5rem;
    padding-bottom: 10px;
}

.pay:hover{
    background-color: var(--desatured-blue);
    cursor: pointer;
}

.cancel{
    flex: 1;
    font-weight: 700;
    border: 0 px;
    text-decoration: none;
    margin: 20px;
    transition: all 0.3s ease 0s;
    color: var(--desatured-blue);
}

.cancel-container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.cancel:hover{
    color: black;
    cursor: pointer;
}

.change{
    color: var(--bright-blue);
}

h1{
    font-weight: 900;
}
h2{
    font-weight: 700;
}
p{
    font-weight: 500;
    text-align: center;
    line-height: 20px;
}
